/main.aux
/main.log
/main.out
/main.synctex.gz
OriginalManuscript/TheThetaTerm8910.pdf
OriginalManuscript/TheThetaTerm111213.pdf
OriginalManuscript/thetaTermPeriodicity.pdf
.gitignore
OriginalManuscript/MirrorMonopole.pdf
OriginalManuscript/MirrorMonopole12.pdf
OriginalManuscript/MirrorMonopole34.pdf
OriginalManuscript/MirrorMonopole56.pdf
OriginalManuscript/MirrorMonopole78.pdf
tikz/Topological_Current_Schematic/Topological_Current_Schematic.synctex.gz
tikz/Topological_Current_Schematic/Topological_Current_Schematic.pdf
